<div class="block">
  <div class="wrap wrap--short wrap--gray fade" data-fade-block="">
    <div class="container">
      <div class="row" :class="{'row--center-align': (offerWidgetItems.length < 3)}">
        <div class="col-xs-10 col-xs-push-1 col-xs-pull-1 col-sm-12 col-sm-push-0 col-sm-pull-0">
          <h5 class="block__title">Receive the latest offers</h5>
        </div>
        <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-0 col-md-3" v-for="(item, index) in offerWidgetItems" :key="item.id">
          <div class="service-box ">
            <router-link :to="{name: 'offers-detail', 
                          params: 
                            {   id: item.id, 
                                slug: slug(item.title), 
                                category: slug(getCategory(item.sub_type))
                            }
                          }" class="service-box__link">
              <img :src="item.landscape_image" :alt="item.title" class="service-box__img">
              <h6 class="service-box__title">{{item.title}}</h6>
            </router-link>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-10 col-xs-push-1 col-xs-pull-1 col-sm-6 col-sm-push-3 col-sm-pull-3 col-md-4 col-md-push-4 col-md-pull-4">
          <div class="btn-frame">
            <button class="btn  btn--primary btn--full-width " @click.stop.prevent="$router.replace({name: 'offers-index'})">View all</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>